.DebateShow
  .DebateContents
    .DebateTitle
      = @group.name
    .DebateDetail
      .DebateDetail__title
        詳細
      .DebateDetail__content
        = @group.detail
        少年法六一条による公表禁止
        1 成人の犯罪事件に関する報道について、特別な法的規制は存在しない。これに対して、少年法は、少年審判の非公開を定めるとともに(二二条二項(1))、六一条において、「家庭裁判所の審判に付せられた少年又は少年のときに犯した罪により公訴を提起された者については、氏名、年齢、職業、住居、容ぼう等によりその者が当該事件の本人であることを推知できるような記事又は写真を新聞紙その他の出版物に掲載してはならない」と規定している。本人特定事実の公表禁止は家庭裁判所に事件が送致される前の捜査段階にも及ぶ、と理解されている。それゆえ、少年の非行事件の場合には、通常、被疑者の逮捕から家庭裁判所の審判、処分の決定、さらにその後に至るまで、氏名、顔写真などは公表されない。
        2 少年法六一条が少年の本人特定事実の公表を禁止していることについては、少年の名誉・プライバシーを保護し、否定的な社会的烙印を回避することにより、その「健全な育成」(少年法一条)を期そうとする趣旨によるものであって、少年法の福祉・教育理念が最もよく具体化した規定である、と理解されてきた(2)。
        最近は、少年法の基本理念を、国際人権法との関連において「少年の最善の利益」として(3)、あるいは少年の人間の尊厳としての成長発達権の保障として(4)捉える見解が示されている。
    .ShowButton
      = button_to group_fors_path(@group), class: "For2" do
        賛成
      = button_to group_againsts_path(@group), class: "Against2" do
        反対

