* {
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.Side {
  width: 300px;
  color: #000;
  border-right: 1px solid #fff;
}

.LeftHeader {
  height: 75px;
  background-color: #333;
  color: #fff;
  padding: 0 20px 0 10px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  line-height: 75px;
  &__user {
    display: flex;
  }
  &__userIcon {
    margin-top: 12px;
  }
  &__userName { 
    font-size: 20px;
    margin-left: 20px;
  }
  &__Icons {
    display: flex;
    align-items: center;
  }
  &__Icon {
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    i {
      color: #f0f0f0;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &__Icon:hover {
    background-color: #222;
  }
}

.Content {
  height: calc(100vh - 150px);
}

.Subjects {
  height: 100%;
  background-color: #333;
  &__content {
    height: 100%;
    overflow: scroll;
  }
  &__title {
    box-sizing: border-box;
    height: 75px;
    width: 100%;
    background-color: #333; 
    border-bottom: 1px solid #fff;
    color: #fff;
    line-height: 75px;
    padding: 0 20px;
    font-size: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  &__plus {
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    i {
      color: #f0f0f0;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &__plus:hover {
    background-color: #222;
  }
}

.CurrentSubject {
  box-sizing: border-box;
  width: 100%;
  background-color: #f0f0f0; 
  border-right: 1px solid #333;
  a {
    height: 100%;
    width: 100%;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
  }
}

.Subject { 
  box-sizing: border-box;
  width: 100%;
  background-color: #333; 
  border-bottom: 1px solid #fff;
  display: flex;
  a {
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
  }
}

.Subject:hover {
  background-color: #222;
  a {
    color: #fff;
  }
}

.Main {
  height: 100vh;
  width: calc(100vw - 300px);
}

.RightHeader {
  height: 75px;
  width: 100%;
  background-color: #333;
  font-size: 20px;
  line-height: 75px;
  padding: 0 25px;
  border-bottom: 1px solid #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__name {
    display: flex;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__data {
    font-size: 15px;
    
    &__for {
      font-size: 15px;
      color: #81d6c5;
      margin-left: 15px;
    }
    &__against {
      font-size: 15px;
      color: #ed6d35;
      margin-left: 15px;
    }
  }
  &__ratio {
    height: 25px;
    width: 200px;
    display: flex;
    border-radius: 5px;
    margin: 0 25px;
  }
  &__icons {
    display: flex;
  }
  &__icon {
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    i {
      color: #f0f0f0;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &__icon:hover {
    background-color: #222;
  }
}

.For__ratio {
  width: 50%;
  height: 100%;
  background-color: #81d6c5;
  border-radius: 5px 0 0 5px;
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 25px;
}

.Against__ratio {
  width: 50%;
  height: 100%;
  background-color: #ed6d35;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 25px;
}

.f-marker {
  color: #81d6c5;
  margin-right: 10px;
}
 
.a-marker {
  color: #ed6d35;
  margin-right: 10px;
}

.MessageField {
  height: calc(100vh - 200px);
  width: 100%;
  overflow: scroll;
  background-color: #fff;
}

.MessageBox {
  padding: 10px 20px;
  &__middle {
    text-align: center;
  }
}

.MessageFors {
  display: flex;
  margin-right: auto;
  position: relative;
}

.MessageAgainsts {
  display: flex;
  margin-left: auto;
  position: relative;
}

.MessageIcon-for {
  margin-right: 30px;
  font-size: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.MessageIcon-against {
  margin-left: 30px;
  font-size: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.f-triangle {
  position: absolute;
  left: 66px;
  height: 25px;
  width: 15px;
  background-color: #81d6c5;
  border-top: 1px solid #000;
  .f-white {
    height: 100%;
    width: 15px;
    border-radius: 0 25px 0 0;
    background-color: white;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
}

.a-triangle {
  position: absolute;
  right: 66px;
  height: 25px;
  width: 15px;
  background-color: #ed6d35;
  border-top: 1px solid #000;
  .a-white {
    height: 25px;
    width: 15px;
    border-radius: 25px 0 0 0;
    background-color: #fff;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
}

.MessageFor { 
  margin-right: auto;
  max-width: 50%;
  background-color: #81d6c5;
  border-radius: 0 25px 25px 25px;
  padding: 13px 15px;
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 15px;
  border: 1px solid #000;
}

.MessageAgainst {
  margin-left: auto;
  max-width: 50%;
  background-color: #ed6d35;
  border-radius: 25px 0 25px 25px;
  padding: 13px 15px;
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 15px;
  border: 1px solid #000;
}

.MessageNeutral {
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  padding: 10px 15px;
  margin: 0 150px;
  margin-bottom: 15px;
}

.Footer {
  height: 125px;
  width: 100%;
  background-color: #fff;
}

.Form {
  height: 100px;
  width: 100%;
  padding: 0 25px;
  background-color: #fff;
  &__contents {
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
  }
  &__input {
    height: 49px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    outline: none;
    resize: none; 
    overflow: scroll;
    padding: 7px 0 0 7px;
  }
  &__content {
    height: 49px;
    border-top: 1px solid #000;
    border-radius: 0 0 5px 5px;
    background-color: #f0f0f0;
    align-items: center;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
  }
  &__icons {
    display: flex;
  }
  &__icon {
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    i {
      color: #333;
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  &__icon:hover {
    background-color: #333;
    i {
      color: #f0f0f0;
    }
  }
}

.Send {
  border-style: none;
  outline: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  i {
    color: #333;
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.Send:hover {
  background-color: #333;
  i {
    color: #f0f0f0;
  }
}

.Hidden {
  display: none;
}

.Icon-image {
  height: 50px;
  width: 50px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
}

.Message__image {
  border-radius: 5px;
}